header{
    background-color: lightskyblue;
    
}
body{
    background-color: lightblue;
}
main .slider{
    background-color: lightblue;
    border: 3px solid white;
}
.images{
    border: 4px solid white;
}
.dark-mode {
    background-color: black;
    color: white;
  }